.home img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 4px solid #0000;
    box-shadow:  0 4px 12px rgb(170, 100, 208);
    border-radius: 100%;
    transition:  transform 0.4s ease, box-shadow 0.4s ease; 
    display: block;
    margin: 0 auto; 
}

#titulo{
text-align: center;
}

.titulo-sobre, .titulo-estudos, .titulo-projetos, .titulo-contatos, .menu p{
    text-align: center;
}
    
 .card {
    width: 300px;
    padding: 65px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    position: absolute;
    text-align: center;
    background-color:rgba(204, 152, 237, 0.986)
  }
   
  .esquerda {
    left: 20px;
    top: 60%;
    transform: translateY(-50%);
    margin-top: 260px;
    left: 210px;
  }

  .direita {
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
    margin-top: 260px;
    right: 210px;
   
  }
  .titulo-estudos{
    margin-top: 400px;
  }

  .menu p a{
    padding-top: 90px;
    padding-right: 10px;
    padding-left: 20px;
    font-size: 20px;
    color: rgba(188, 88, 251, 0.986)
  }
   
  .card-projeto  p{
    width: 300px;
    height: 150px;  /* todas ficam iguais */
    padding: 25px;
    background:rgba(204, 152, 237, 0.986) ;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-family: Arial, sans-serif;
  }

  .card-audiovisual{
    position: relative;
    top: 66px;
    right: -245px;
  }
  .card-admin{
    position: relative;
    top: -145px;
    right: -930px;
  }

.card-estudo p{
  width: 500px;
  padding: 45px;
  margin-left: 31%;
  margin-top: 90px;
  background:rgba(252, 210, 239, 0.986) ;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-family: Arial, sans-serif;
  margin-bottom: 90px;
}

 .menu p {

  display: flex;              /* ativa o flex */

  justify-content: center;    /* centraliza */

  gap: 20px;                  /* espaço entre os links */

  margin: 0;

  padding: 0;

  flex-wrap: wrap;            /* quebra linha se não couber */

}
 
.menu p a {

  text-decoration: none;

  color: rgba(188, 88, 251, 0.986);

  font-size: 18px;

  padding: 10px;

  transition: 0.3s;

}
 
.menu p a:hover {

  color: purple;

  transform: scale(1.05);

}
 
 

 